.settings-container{
  right: 10px;
  box-shadow: 5px 8px 10px 1px gray;
}

.slide-out-right {
  animation-name: slideOutRight;
  animation-duration: 2s; /* Adjust the duration as needed */
  animation-fill-mode: forwards; /* Keeps the element in its final state after the animation */
}

.rat-settings {
    height: fit-content;
    padding: 4px;
    padding-bottom: 18px;
    
    width: 360px;
    border: 1px solid rgb(211, 211, 211) ;
}

.simulation-settings {
    padding: 5px;
    width: 360px;
    border-radius: 5px 5px 0 0;
    height: fit-content;
    background-color: lightgray;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
  }

.simulation-button{
  text-decoration: none;
  background: none;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  background-color: lightblue;
  padding: 9px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
}

.simulation-button:hover{
  background-color: rgb(147, 185, 197);
}

@keyframes slideOutRight {
  0% {
      transform: translateX(0);
  }
  20% {
    transform: translateX(-10%);
  }
  100% {
      transform: translateX(120%);
  }
}