body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    font-family: 'Inter';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  font-family: 'Inknut Antiqua', serif;
  font-size: 100px;

}

.entry-container{
  font-family: 'Inter';
  /*background-color: rgb(29, 30, 30);*/
}

.entry-container p a{
  color: aqua;
  text-decoration: underline;
}

.entry-container .submit{
  background-color: rgb(36, 75, 77);
  padding: 5px;
}

.submit:hover{
  background-color: rgb(42, 86, 88);
}

canvas {
  height: 500px;
}

.mouse{
  position: absolute;
  width: 120px;
  height: 75px;
}

.food{
  position: absolute;
}

.stats-container{
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.fade-in{
  animation-name: fadeIn;
  animation-duration: 2.5s; /* Adjust the duration as needed */
  animation-fill-mode: forwards; /* Keeps the element in its final state after the animation */
}

.fade-in2{
  animation-name: fadeIn2;
  animation-duration: 2.5s; /* Adjust the duration as needed */
  animation-fill-mode: forwards; /* Keeps the element in its final state after the animation */
}


@keyframes fadeIn {
  0% {
      background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
      background-color: rgba(255, 255, 255, 1);
  }
}

@keyframes fadeIn2 {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}