body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    font-family: 'Inter';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title {
  font-family: 'Inknut Antiqua', serif;
  font-size: 100px;

}

.entry-container{
  font-family: 'Inter';
  /*background-color: rgb(29, 30, 30);*/
}

.entry-container p a{
  color: aqua;
  text-decoration: underline;
}

.entry-container .submit{
  background-color: rgb(36, 75, 77);
  padding: 5px;
}

.submit:hover{
  background-color: rgb(42, 86, 88);
}

canvas {
  height: 500px;
}

.mouse{
  position: absolute;
}